:root {
  --color-primary: rgb(230, 234, 235);
  --color-primary-darker: rgb(205, 210, 211);
  --color-border: 201, 201, 201;
  --opacity-gray: 0.8;

  --color-primary-dark: rgb(50, 50, 50);
  --color-primary-darker-dark: rgb(30, 30, 30);
  --color-border-darkfhdhfd: 80, 80, 80;
  --opacity-gray-dark: 0.6;
}

.so-media-manager p {
  margin: 0;
}

.so-media-manager ol, .so-media-manager ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.so-media-manager button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.so-media-manager button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.so-media-manager .so-mm-folder-path.so-mm-last-path {
  padding: 5px;
}

.so-media-manager button.so-mm-button-selected {
  background: var(--color-primary);
}

.so-media-manager button svg {
  height: 100%;
}

.so-media-manager button:hover:not(:disabled) {
  border: none;
  background: none;
  background: rgba(var(--color-border), 0.2);
}

.so-media-manager .so-mm-separator-vertical {
  background: rgba(var(--color-border), var(--opacity-gray));
  padding: 0 0.5px;
  margin: 0 5px;
}

.so-media-manager.so-mm-move-file,
.so-media-manager.so-mm-move-file button,
.so-media-manager.so-mm-move-file .so-mm-file {
  cursor: grabbing;
}

.so-media-manager .button-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.so-media-manager {
  background: white;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid rgba(var(--color-border), var(--opacity-gray));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.so-mm-explorer {
  border: 1px solid rgba(var(--color-border), var(--opacity-gray));
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.so-mm-explorer-inner {
  overflow: hidden;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1; */
  /* overflow-y: auto; */
}

.so-mm-explorer-inner .so-mm-file {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  background: white;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file {
  flex-basis: calc(12.5% - 10px);
  margin: 5px;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file {
  max-height: 35px;
  margin: 0 5px;
  padding: 2.5px 0;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgba(var(--color-border), var(--opacity-gray));
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.so-mm-explorer-inner .so-mm-file .so-mm-file-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content {
  position: absolute;
  top: 0; left: 0;
  flex-direction: column;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content {
  flex-direction: row;
}

.so-mm-explorer-inner .so-mm-file .so-mm-file-content .so-mm-file-icon {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content .so-mm-file-icon {
  width: 100%;
  height: 70%;
  margin-bottom: 5px;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content .so-mm-file-icon {
  width: 20px;
  margin-right: 15px;
}

.so-mm-explorer-inner .so-mm-file .so-mm-file-content svg.so-mm-file-superpose {
  position: absolute;
  top: 40%;
  width: 35%;
  color: white;
}

.so-mm-explorer-inner .so-mm-file .so-mm-file-content span.so-mm-file-superpose {
  position: absolute;
  top: 45%;
  font-size: 7px;
  color: white;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content span.so-mm-file-superpose {
  font-size: 50px;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content svg.so-mm-file-superpose {
  top: 35%;
  width: 50%;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content .so-mm-file-name {
  word-break: break-all;
  text-align: center;
  padding: 0 15px;
  height: 30%;
  overflow: hidden;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content .so-mm-file-name {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.so-mm-file.so-mm-file-selected {
  background: var(--color-primary);
  font-weight: bold;
}

.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content .so-mm-file-date,
.so-mm-explorer-inner.so-mm-explorer-view-grid .so-mm-file .so-mm-file-content .so-mm-file-size {
  display: none;
}

.so-mm-file .so-mm-file-content .so-mm-file-date {
  width: 175px;
}

.so-mm-file .so-mm-file-content .so-mm-file-size {
  width: 150px;
}

.so-mm-file .so-mm-file-content svg, .so-mm-file .so-mm-file-content img {
  /* width: 100%; */
  max-height: 100%;
  strokeWidth: 0.3;
}

.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content svg,
.so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file .so-mm-file-content img {
  width: 20px;
}

.so-mm-top-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  min-height: 35px;
}

.so-mm-ariane {
  width: 100%;
  /* background: rgba(128, 128, 128, 0.3); */
  /* box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgba(var(--color-border), var(--opacity-gray));
  display: flex;
  justify-items: start;
  align-items: center;
  padding: 0 10px;
}

.so-mm-ariane ol {
  display: flex;
  align-items: center;
  gap: 5px;
}

.so-mm-ariane svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.so-mm-search form {
  position: relative;
  height: 100%;
  max-height: 35px;
}

.so-mm-search input {
  height: 100%;
  outline: none;
  padding: 0 30px 0 8px;
  border: 1px solid rgba(var(--color-border), var(--opacity-gray));
  width: 250px;
}

.so-mm-search input:focus {
  padding: 0 29px 0 7px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.so-mm-search button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0px solid white;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.so-mm-search button svg {
  width: 15px;
  height: 15px;
}

.so-mm-action-nav {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.so-mm-action-nav svg {
  width: 25px;
  height: 25px;
}

.so-mm-context-menu {
  position: absolute;
  background: white;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  border: 1px solid rgba(var(--color-border), var(--opacity-gray));
  padding: 5px;
  z-index: 10000;
  border-radius: 5px;
}

.so-mm-context-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.so-mm-context-menu button {
  display: flex;
  gap: 5px;
  align-items: center;
}

.so-mm-context-menu button svg {
  height: 15px;
}

.so-mm-validation {
  margin-top: 15px;
  align-self: flex-end;
}

.so-mm-validation button.so-mm-btn-validation {
  background: var(--color-primary);
  padding: 10px 20px;
}

.so-mm-validation button.so-mm-btn-validation:hover {
  background: var(--color-primary-darker);
}

.sodark {
  --color-primary: var(--color-primary-dark);
  --color-primary-darker: var(--color-primary-darker-dark);
  --color-border: var(--color-border-dark);
  --opacity-gray: var(--opacity-gray-dark);
}

.sodark .so-media-manager {
  background: rgb(20, 20, 20);
  color: white;
  border: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
}

.sodark .so-media-manager p {
  color: white;
}

.sodark .so-media-manager ol,
.sodark .so-media-manager ul {
  color: white;
}

.sodark .so-media-manager button {
  background: rgb(40, 40, 40);
  color: white;
}

.sodark .so-media-manager button:hover:not(:disabled) {
  background: rgba(var(--color-border-dark), 0.2);
}

.sodark .so-media-manager button.so-mm-button-selected {
  background: var(--color-primary-dark);
  color: white;
}

.sodark .so-mm-separator-vertical {
  background: rgba(var(--color-border-dark), var(--opacity-gray-dark));
}

.sodark .so-mm-explorer {
  border: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
  background: rgb(30, 30, 30);
}

.sodark .so-mm-explorer-inner .so-mm-file {
  background: rgb(40, 40, 40);
  color: white;
}

.sodark .so-mm-file.so-mm-file-selected {
  background: var(--color-primary-dark);
}
 .sodark .so-mm-explorer-inner.so-mm-explorer-view-list .so-mm-file:not(:nth-last-child(1)) {
  border-bottom: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
}

.sodark .so-mm-file .so-mm-file-content .so-mm-file-name {
  color: white;
}

.sodark .so-mm-top-nav {
  background: rgb(30, 30, 30);
  color: white;
}

.sodark .so-mm-ariane {
  border: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
  background: rgb(40, 40, 40);
  color: white;
}

.sodark .so-mm-search input {
  background: rgb(30, 30, 30);
  color: white;
  border: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
}

.sodark .so-mm-search input:focus {
  border: 2px solid white;
}

.sodark .so-mm-search button {
  background: rgb(40, 40, 40);
  color: white;
}

.sodark .so-mm-context-menu {
  background: rgb(40, 40, 40);
  color: white;
  border: 1px solid rgba(var(--color-border-dark), var(--opacity-gray-dark));
}

.sodark .so-mm-validation button.so-mm-btn-validation {
  background: var(--color-primary-dark);
  color: white;
}

.sodark .so-mm-validation button.so-mm-btn-validation:hover {
  background: var(--color-primary-darker-dark);
}

.sodark .so-mm-action-nav svg {
  border: white;
}

.sodark .so-mm-context-menu button {
  color: white;
}

.sodark .so-mm-context-menu button svg {
  border: white;
}
